<!DOCTYPE html>
<html>
    {% include "header.html" %}
<body>
    {% include "user_link.html" %}
    <h1>Create New Item</h1>
    <form class="form" method='POST' enctype='multipart/form-data' action='{{url_for('item.createNewItem', catalog_id = catalog.id)}}'>
        <h3>New Item Name:</h3>
        <input class="form-control" name='newItemName' type='text' />
        <h3>Description:</h3>
        <textarea rows="4" cols="50" class="form-control" name='newItemDescription' type='text'></textarea>
        <input class='btn btn-primary' type='submit' value='Submit'>
    </form>
    <a class='btn btn-default' href='{{url_for('catalog.showAllCatalogs')}}'>Cancel</a>
</body>
</html>